/*// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.creature {
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
}